.oneButton{
  margin: 10px 10px;

  button{
    border: none;
    border-radius: 20px;
    padding: 8px;
    font-size: 20px;
  }}

  .lightButton{
    background: #ff7300;
    color: white;
  }
  .darkButton{
    background: #e0dede ;
    color: black;
  }


