.listWrap{
    display: flex;
    align-items: center;
    flex-direction: column;

    .cardWrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 100vh;
    }
}

.posterNoneMovies{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.state{
    padding: 20px;
}

